<table class="videos">
  <tr>
    <th>Thumbnail</th>
    <th>Info</th>
    <th>Encodings</th>
  </tr>
  <% videos.each do |v| %>
  <tr>
    <td>
      <div class="thumb">
        <a href="<%= url(:video, v.key) %>">
          <%= image_tag(v.clipping.url(:thumbnail)) %>
        </a>
      </div>
    </td>
    
    <td class="info">
      <a href="/videos/<%= v.key %>" class="filename">
        <%= v.original_filename || "No filename" %>
      </a>
      <span class="token">
        Duration: <%= v.duration_str %>
      </span>
      <span class="resolution">
        Resolution: <%= v.width %> x <%= v.height %>
      </span>
      <span class="date">
        Uploaded: <%= v.created_at.strftime("%a, %d %b %Y %H:%M") rescue "" %>
      </span>
    </td>
    
    <td class="encodings">
      <table class="encodings">
        <% v.encodings.each do |e| %>
          <tr class="encoding">
            <td>
              <a href="/videos/<%= e.key %>" class="filename"><%= e.profile_title %></a>
            </td>
            <td class="<%= e.status %>">
              Status: <%= e.status %>
            </td>
          </tr>
        <% end %>
      </table>
    </td>
  </tr>
  <% end %>
</table>
